In [1]:
import sqlite3

from sqlite3 import Error
 
def sql_connection():
 
    try:
 
        con = sqlite3.connect('mydatabase123.db')

CREATE TABLE employ(id integer PRIMARY KEY, name text, salary real,department text, position text, hireDate text)
CREATE TABLE employe(id integer PRIMARY KEY, name text, salary real, department text, position text, hireDate text)

In [1]:
import sqlite3
 
con = sqlite3.connect('mydatabase123.db')
 
def sql_insert(con, entities):
 
    cursorObj = con.cursor()
    
    cursorObj.execute('INSERT INTO employ(id, name, salary, department, position, hireDate) VALUES(?, ?, ?, ?, ?, ?)', entities)
    
    con.commit()
 
    entities0 = (2, 'Andrew', 800, 'IT', 'Tech', '2020-02-06')

    entities1 = (3, 'jagan', 800, 'ITI', 'Tech', '2020-02-06')
    entities2 = (4, 'anand', 800, 'IIT', 'Tech', '2020-02-06')
 
    entities3 = (5, 'vinayaka', 800, 'IWT', 'Tech', '2020-02-06')

for entities in [entities0,entities1,entities2,entities3]:
    sql_insert(con, entities)

NameError: name 'entities0' is not defined

In [3]:
cursorObj = con.cursor()

In [6]:
names = list(cursorObj.execute('SELECT name from employ'))

In [8]:
names

('Andrew',)

In [ ]:
input = input()

In [ ]:
import sqlite3
 
con = sqlite3.connect('jagan.db')
 
def sql_insert(con, entities):
 
    cursorObj = con.cursor()
    
    cursorObj.execute('INSERT INTO employe(id, name, salary, department, position, hireDate) VALUES(?, ?, ?, ?, ?, ?)', entities)
    
    con.commit()
 
    entities10 = (2, 'Andrew', 800, 'IT', 'Tech', '2018-02-06')

    entities1 = (3, 'jagan', 800, 'ITI', 'Tech', '2018-02-06')
 
    entities2 = (4, 'anand', 800, 'IIT', 'Tech', '2018-02-06')
 
    entities3 = (5, 'vinayak', 800, 'IWT', 'Tech', '2018-02-06')

for entities in [entities0,entities1,entities2,entities3]:
    sql_insert(con, entities)