In [46]:
for i in range (0,148):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147

In [44]:
jagan="we win"
x=jagan[0:6]
print(x)

SyntaxError: unexpected character after line continuation character (<ipython-input-44-bbd50ea60d1e>, line 2)

In [17]:
print(jagan\n)

SyntaxError: unexpected character after line continuation character (<ipython-input-17-ad416f876c47>, line 1)

In [1]:
letters="abcdefghijklmnopqrstuvwxyz"
backwords=letters[25:0:-1]
print(backwords)

zyxwvutsrqponmlkjihgfedcb

In [2]:
print(letters[::-1])

zyxwvutsrqponmlkjihgfedcba

In [6]:
print(letters[-10:-13:-1])

qpo

In [22]:
print(letters[4::-1])

edcba

In [20]:
print(letters[-8:26])

stuvwxyz

In [35]:
age=24
print(f"my age is {age} years")

my age is 24 years

In [6]:
for i in range (1,50):print("no. {0}squared is {1}and cubed is {2}".format(i, i*2,i**3));print("*"*80)

no. 1squared is 2and cubed is 1
********************************************************************************
no. 2squared is 4and cubed is 8
********************************************************************************
no. 3squared is 6and cubed is 27
********************************************************************************
no. 4squared is 8and cubed is 64
********************************************************************************
no. 5squared is 10and cubed is 125
********************************************************************************
no. 6squared is 12and cubed is 216
********************************************************************************
no. 7squared is 14and cubed is 343
********************************************************************************
no. 8squared is 16and cubed is 512
********************************************************************************
no. 9squared is 18and cubed is 729
********************************************************************************
no. 10squared is 20and cubed is 1000
********************************************************************************
no. 11squared is 22and cubed is 1331
********************************************************************************
no. 12squared is 24and cubed is 1728
********************************************************************************
no. 13squared is 26and cubed is 2197
********************************************************************************
no. 14squared is 28and cubed is 2744
********************************************************************************
no. 15squared is 30and cubed is 3375
********************************************************************************
no. 16squared is 32and cubed is 4096
********************************************************************************
no. 17squared is 34and cubed is 4913
********************************************************************************
no. 18squared is 36and cubed is 5832
********************************************************************************
no. 19squared is 38and cubed is 6859
********************************************************************************
no. 20squared is 40and cubed is 8000
********************************************************************************
no. 21squared is 42and cubed is 9261
********************************************************************************
no. 22squared is 44and cubed is 10648
********************************************************************************
no. 23squared is 46and cubed is 12167
********************************************************************************
no. 24squared is 48and cubed is 13824
********************************************************************************
no. 25squared is 50and cubed is 15625
********************************************************************************
no. 26squared is 52and cubed is 17576
********************************************************************************
no. 27squared is 54and cubed is 19683
********************************************************************************
no. 28squared is 56and cubed is 21952
********************************************************************************
no. 29squared is 58and cubed is 24389
********************************************************************************
no. 30squared is 60and cubed is 27000
********************************************************************************
no. 31squared is 62and cubed is 29791
********************************************************************************
no. 32squared is 64and cubed is 32768
********************************************************************************
no. 33squared is 66and cubed is 35937
********************************************************************************
no. 34squared is 68and cubed is 39304
********************************************************************************
no. 35squared is 70and cubed is 42875
********************************************************************************
no. 36squared is 72and cubed is 46656
********************************************************************************
no. 37squared is 74and cubed is 50653
********************************************************************************
no. 38squared is 76and cubed is 54872
********************************************************************************
no. 39squared is 78and cubed is 59319
********************************************************************************
no. 40squared is 80and cubed is 64000
********************************************************************************
no. 41squared is 82and cubed is 68921
********************************************************************************
no. 42squared is 84and cubed is 74088
********************************************************************************
no. 43squared is 86and cubed is 79507
********************************************************************************
no. 44squared is 88and cubed is 85184
********************************************************************************
no. 45squared is 90and cubed is 91125
********************************************************************************
no. 46squared is 92and cubed is 97336
********************************************************************************
no. 47squared is 94and cubed is 103823
********************************************************************************
no. 48squared is 96and cubed is 110592
********************************************************************************
no. 49squared is 98and cubed is 117649
********************************************************************************

In [14]:
name=input("enter ur name:")
age=input("how old are u,{0}".format(name))
print(age)
if int(age) >= 18:
    print("major")
else:
    print("minor{0}".format(age))

enter ur name:jmr
how old are u,jmr11
11
minor11