In [5]:
import sqlite3
 
con = sqlite3.connect('jagan.db')
 
def sql_insert(con, entities):
 
    cursorObj = con.cursor()
    
    cursorObj.execute('INSERT INTO employe(id, name, salary, department, position, hireDate) VALUES(?, ?, ?, ?, ?, ?)', entities)
    
    con.commit()
 
    entities1 = ( 15022,'jaganmohan', 25000, 'IT', 'Tech', '2020-02-06')

    entities2 = (15030, 'kashyap', 24500, 'eee', 'govt', '2020-02-06')
 
    entities3 = (15038, 'praneeth', 30000, 'IT', 'Tech', '2020-02-06')
 
    entities4 = (15057, 'saikumar', 19000, 'eee', 'govt', '2020-02-06')

for entities in [entities1,entities2,entities3,entities4]:
    sql_insert(con, entities)

NameError: name 'entities1' is not defined